/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */


/*   01 - General & Basic Styles    */


/*   02 - Main Header style    */


/*   03 - Home Banner Area style    */


/*   04 - Feature Section style    */


/*   05 - Explain Section style    */


/*   06 - Screenshots  Section     */


/*   07 - Price  Section       */


/*   08 - Testimonial Section             */


/*   09 - Blog Section      */


/*   10 -  Footer Style     */


/*   11 - Contact Pop-up style   */


/*   12 - Elements    */


/*   13 - Preloder    */



/* ==========================================================================
   01. General & Basic Styles
   ========================================================================== */
.home-content {
        position: relative;
        width: 100%;
        height: 100%;
        float: left;
    }
    .home-photo {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
.overlay {
        position:  relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
    }
        .overlay-black { background: #000; }
    .overlay-black + .overlay-content:before,
    .overlay-black + .overlay-content:after {
        background: #fff;
    }

img {
    max-width: 100%;
}

.media-img {
    width: 100%;
}

.font-1 {
    font-family: "Montserrat", sans-serif;
}

.font-2 {
    font-family: "Lato", sans-serif;
}

.italic {
    font-style: italic;
}

.color-white {
    color: #fff;
}

.color-1 {
    color: #00c9d5;
}

.color-2 {
    color: #1e283c;
}

.color-3 {
    color: #fec565;
}

.color-4 {
    color: #00cad6;
}

.color-5 {
    color: #1e1d32;
}

.color-6 {
    color: #00cbd6;
}

.color-7 {
    color: #313c4f;
}

.color-8 {
    color: #00b1d6;
}

.color-9 {
    color: #58709d;
}

.color-10 {
    color: #dee2eb;
}

.color-11 {
    color: #f2f5fa;
}

.color-15 {
    color: #009ad6;
}

.color-16 {
    color: #09c9d7;
}

.color-17 {
    color: #00b4d6;
}


.theme-bg-gradient {
    background-image: -webkit-gradient(linear, left top, right top, from(#0098d6), to(#00cbd6));
    background-image: linear-gradient(to right, #99a521 0%, #c5d431 100%);
    //background-image: linear-gradient(to right, #0098d6 0%, #00cbd6 100%);
    -webkit-box-shadow: 0 5px 29px rgb(46, 48, 27);
    box-shadow: 0 5px 29px rgb(46, 48, 27);
    //box-shadow: 0 5px 29px rgba(0, 205, 214, 0.3);
}
.theme-bg-gradient2 {
    background-image: -webkit-gradient(linear, left top, right top, from(#0098d6), to(#00cbd6));
    background-image: linear-gradient(to right, #034365 0%, #034365 100%);
    //background-image: linear-gradient(to right, #034365 0%, #034365 100%);
    -webkit-box-shadow: 0 5px 29px rgba(0, 205, 214, 0.3);
    box-shadow: 0 5px 29px rgb(210, 221, 83);
    //box-shadow: 0 5px 29px rgba(0, 205, 214, 0.3);
}

.text-gradient {
    background: -webkit-gradient(linear, left top, right top, from(#0098d6), to(#00cbd6));
    background: linear-gradient(to right, #0098d6 0%, #00cbd6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.more_btn.text-gradient:hover {
    background: #1e283c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.more_btn.text-gradient:hover i {
    background: #1e283c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.background-white {
    background: #fff;
}

.background-black {
    background: #000;
}

.background-1 {
    background: #00c9d5;
}

.background-2 {
    background: #f2f5fa;
}

.bg-transparent {
    background: transparent;
}

.pointer {
    cursor: pointer;
}

::-moz-selection {
    background: #00cad6;
    color: #fff;
}

::selection {
    background: #00cad6;
    color: #fff;
}

:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

:focus:-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

:focus:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-family: "Montserrat", sans-serif;
}

::-moz-placeholder {
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-family: "Montserrat", sans-serif;
}

:-moz-placeholder {
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-family: "Montserrat", sans-serif;
}

::-ms-input-placeholder {
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-family: "Montserrat", sans-serif;
}

@-webkit-keyframes animateScale {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    60% {
        opacity: 0;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes animateScale {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    60% {
        opacity: 0;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes animateScale-2 {
    0% {
        opacity: 0.5;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    60% {
        opacity: 0;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    100% {
        opacity: 0.5;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes animateScale-2 {
    0% {
        opacity: 0.5;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    60% {
        opacity: 0;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    100% {
        opacity: 0.5;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.animateScale:hover {
    -webkit-animation: animateScale 0.3s;
    animation: animateScale 0.3s;
}

.animateScale-2:hover {
    -webkit-animation: animateScale-2 0.3s;
    animation: animateScale-2 0.3s;
}

.uppercase {
    text-transform: uppercase;
}

.td-underline {
    text-decoration: underline;
}

.td-underline:hover {
    text-decoration: none;
}

.td-none {
    text-decoration: none !important;
}

.no-hover:hover {
    color: inherit;
}

.fweight-400 {
    font-weight: 400;
}

.fweight-500 {
    font-weight: 500;
}

.fweight-500i {
    font-weight: 500 !important;
}

.fweight-600 {
    font-weight: 600;
}

.fweight-700 {
    font-weight: 700;
}

.fweight-900 {
    font-weight: 900;
}

.fsize-0 {
    font-size: 0;
}

.fsize-10 {
    font-size: 10px;
}

.fsize-12 {
    font-size: 12px;
}

.fsize-14 {
    font-size: 14px;
}

.fsize-15 {
    font-size: 15px;
}

.fsize-16 {
    font-size: 16px;
}

.fsize-20 {
    font-size: 20px;
}

.fsize-24 {
    font-size: 24px;
}

.fsize-28 {
    font-size: 28px;
}

.fsize-30 {
    font-size: 30px;
}

.fsize-32 {
    font-size: 32px;
}

.fsize-40 {
    font-size: 40px;
}

.fsize-42 {
    font-size: 42px;
}

.fsize-55 {
    font-size: 55px;
}

.fsize-56 {
    font-size: 56px;
}

.fsize-60 {
    font-size: 60px;
}

.fsize-70 {
    font-size: 70px;
}

.fsize-80 {
    font-size: 80px;
}

.fsize-210 {
    font-size: 210px;
}

.nowrap {
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.alignright {
    float: right;
    margin: 0 0 30px 30px;
}

.alignleft {
    float: left;
    margin: 0 30px 30px 0;
}

.float-none {
    float: none;
}

.m0 {
    margin: 0;
}

.mb0 {
    margin-bottom: 0;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb-40 {
    margin-bottom: -40px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb70 {
    margin-bottom: 70px;
}

.mb120 {
    margin-bottom: 120px;
}

.mlr8 {
    margin-left: 8px;
    margin-right: 8px;
}

.mlr10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mlr25 {
    margin-left: 25px;
    margin-right: 25px;
}

.mlr60 {
    margin-left: 60px;
    margin-right: 60px;
}

.ml15 {
    margin-left: 15px;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-right: 5px;
}

.mr8 {
    margin-right: 8px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mt0 {
    margin-top: 0;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt60 {
    margin-top: 60px;
}

.mt-30 {
    margin-top: -30px;
}

.mt75 {
    margin-top: 75px;
}

.mt80 {
    margin-top: 80px;
}

.mt100 {
    margin-top: 100px;
}

.mt-200 {
    margin-top: -200px;
}

.mtb5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mtb40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.p0 {
    padding: 0;
}

.p20 {
    padding: 20px;
}

.p40 {
    padding: 40px;
}

.p60 {
    padding: 60px;
}

.pl0 {
    padding-left: 0px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.pl40 {
    padding-left: 40px;
}

.pl60 {
    padding-left: 60px;
}

.pl160 {
    padding-left: 18px;
}
.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb50 {
    padding-bottom: 50px;
}

.pb80 {
    padding-bottom: 80px;
}

.pb90 {
    padding-bottom: 90px;
}

.pb100 {
    padding-bottom: 100px;
}

.pb150 {
    padding-bottom: 150px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pt60 {
    padding-top: 60px;
}

.pt100 {
    padding-top: 100px;
    align-content: center;
}

.pt120 {
    padding-top: 120px;
}

.pt150 {
    padding-top: 150px;
}

.ptb5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ptb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ptb16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.ptb27 {
    padding-top: 27.5px;
    padding-bottom: 27.5px;
}

.ptb30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ptb40 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ptb50 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.ptb60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.ptb70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.ptb100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.ptb120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.plr0 {
    padding-left: 0;
    padding-right: 0;
}

.plr15 {
    padding-left: 15px;
    padding-right: 15px;
}

.plr20 {
    padding-left: 20px;
    padding-right: 20px;
}

.plr30 {
    padding-left: 30px;
    padding-right: 30px;
}

.plr40 {
    padding-left: 40px;
    padding-right: 40px;
}

.plr50 {
    padding-left: 50px;
    padding-right: 50px;
}

.plr60 {
    padding-left: 60px;
    padding-right: 60px;
}

.plr80 {
    padding-left: 80px;
    padding-right: 80px;
}

.plr90 {
    padding-left: 90px;
    padding-right: 90px;
}

.plr100 {
    padding-left: 100px;
    padding-right: 100px;
}

.plr120 {
    padding: 0 120px;
}

.ptb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ptb25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.ptb150 {
    padding-top: 150px;
    padding-bottom: 150px;
}

.ptb10_lr0 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ohidden {
    overflow: hidden;
}

.none {
    display: none;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.table {
    display: table;
    height: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.valign-top {
    vertical-align: top;
}

.valign-middle {
    vertical-align: middle;
}

.valign-bottom {
    vertical-align: bottom;
}

.align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.width-100p {
    width: 100%;
}

.width-auto {
    width: auto;
}

.width-300 {
    width: 300px;
}

.width-370 {
    width: 370px;
}

.mwidth-310 {
    max-width: 310px;
}

.height-100p {
    height: 100%;
}

.height-100 {
    height: 100px;
}

.height-300 {
    height: 300px;
}

.list1 {
    list-style: none;
    line-height: 38px;
}

.list1 li:before {
    content: '';
    float: left;
    width: 4px;
    height: 6px;
    background: url("../images/icons/arrow-list.png") no-repeat;
    margin-right: 10px;
    margin-top: 15px;
}

.list2 {
    list-style: none;
    padding-left: 20px;
    line-height: 38px;
}

.list2 li {
    position: relative;
}

.list2 li:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #00b4d6;
    border-radius: 50%;
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.list3 {
    list-style: none;
    padding: 0;
    line-height: 38px;
}

.list3 li {
    position: relative;
    padding: 0 0 0 30px;
}

.list3 li:before {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid #00b4d6;
    left: 10px;
    top: 15px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.list-order {
    list-style-type: none;
    counter-reset: num;
    padding: 0;
}

.list-order li {
    position: relative;
    padding: 0 0 0 25px;
    line-height: 38px;
}

.list-order li:after {
    content: counter(num) ". ";
    counter-increment: num;
    position: absolute;
    left: 2px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 600;
    color: #00b4d6;
}

.lheight-normal {
    line-height: normal !important;
}

.lheight-24 {
    line-height: 24px;
}

.lheight-26 {
    line-height: 26px;
}

.lheight-30 {
    line-height: 30px;
}

.lheight-38 {
    line-height: 38px;
}

.lheight-40 {
    line-height: 40px;
}

.lheight-50 {
    line-height: 50px;
}

.lheight-60 {
    line-height: 60px;
}

.lheight-60 {
    line-height: 60px;
}

.lheight-60i {
    line-height: 60px !important;
}

.lheight-150 {
    line-height: 150px;
}

.square40 {
    width: 40px;
    height: 40px;
}

.square60 {
    width: 60px;
    height: 60px;
}

.bdrs-50p {
    border-radius: 50%;
}

.bdrs-10 {
    border-radius: 10px;
}

.border-1-w {
    border: 1px solid #fff;
}

.border-none {
    border: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

h1.page-title {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
}

body {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #58709d;
     overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

body.no-scroll {
    overflow-y: hidden;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

a:focus {
    color: inherit;
}


/* ==========================================================================
   02. Main Header style
   ========================================================================== */

.brand-logo img {
    left: 0;
    position: absolute;
    margin-top: -4px;
}

header li:hover>a {

    color: #034365 !important;
}

header li.active>a {
    color: #034365 !important;
}

nav {
    background: rgba(35, 36, 36, 0);
    padding: 10px 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border-radius: 0px !important;
}

.nav-background {
    background: rgba(32, 152, 245, 1);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    border-radius: 0px !important;
}

.navbar-nav li a {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background: transparent;
}

.active {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.default {
    top: 0;
}

.navbar {
    position: fixed;
}

nav {
    left: 0;
    top: -80px;
    right: 0;
    padding: 10px 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    height: auto;
    z-index: 99;
}

nav.top-nav-collapse {
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 0px !important;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.navbar-toggle span {
    background: #fff;
}


/* ==========================================================================
   03. Home Banner Area style
   ========================================================================== */

.banner-area {
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    z-index: 1;
    min-height: 865px;
}

.banner-area::before {
    background: url("../images/b-bg.png") no-repeat;
    background-position: center bottom;
    position: absolute;
    left: 0;
    bottom: -8px;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}


.banner-area .banner-txt .banner-intro .banner-title span {
    color: #034365;
}


.banner-area .banner-txt .app-media {
    margin-top: 85px;
}

.banner-area .banner-device {
    padding-top: 125px;
}

.banner-area .banner-txt {
    padding: 250px 0 100px;
    margin-left: 60px;
}
.banner-area .banner-txt .banner-intro {
    max-width: 555px;
    margin-left: 45px;
}

.banner-area .banner-txt .banner-intro .banner-title {
    color: #fff;
    line-height: 45px;
    font-size: 36px;
    margin-bottom: 20px;
}


.banner-area .banner-txt .app-media .single-media {
    float: left;
    width: 33.33%;
}

.banner-area .banner-txt .app-media .single-media a {
    width: 121px;
    height: 121px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    display: table;
    background: #313C4F;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
}

.banner-area .banner-txt .app-media .single-media a i {
    color: #fff;
    font-size: 40px;
    vertical-align: middle;
    display: table-cell;
}

.banner-area .banner-txt .app-media .single-media a:hover {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.banner-area .banner-txt .app-media .single-media p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    max-width: 160px;
}

.banner-area .banner-txt .app-media .single-media:nth-child(2) {
    margin-top: 24px;
    padding-left: 15px;
}

.banner-area .banner-txt .app-media .single-media:nth-child(3) {
    margin-top: 62px;
    padding-left: 25px;
}

.popup-vedio {
    position: relative;
    z-index: 1;
}

.popup-vedio .circle {
    border-radius: 100px;
    position: absolute;
    margin: auto;
    transform: scale(1);
    transform-origin: center center;
    left: 0;
    z-index: -1;
}

.popup-vedio .circle-1 {
    width: 100%;
    height: 100%;
    background-color: #d7e5ed7a;
    top: 0;
    animation: pulse 2.2s linear 0s infinite;
}

.popup-vedio .circle-2 {
    width: 100%;
    height: 100%;
    background-color: #bbc92d;
    top: 0;
    animation: pulse-2 2.2s linear 0s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0.7);
        opacity: .3;
    }
    80% {
        transform: scale(0.9);
        opacity: .2;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes pulse-2 {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}


/* ==========================================================================
   04. feature SECTION
   ========================================================================== */

.feature {
    background-image: url("../images/feature-bg.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature .container-fluid {
    position: relative;
    z-index: 1;
}

.feature:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1e283c;
    opacity: 0.9;
}

.feature .nav-tabs {
    background-color: transparent;
    border-bottom: none;
}

.feature .nav-tabs>li {
    display: inline-block;
    float: none;
}

.feature .nav-tabs>li .feature-img-wrap {
    border: 5px solid transparent;
    background-image: none;
    overflow: hidden;
    width: 150px;
    height: 150px;
}

.feature .nav-tabs>li a {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0;
    background-color: transparent !important;
    border: none;
    opacity: 0.6;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.feature .nav-tabs>li.active {
    background-image: none;
}

.feature .nav-tabs>li.active>a {
    background-color: transparent !important;
    border: none;
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.feature .nav-tabs>li.active>a .feature-img-wrap {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5fa), to(#f2f5fa)), -webkit-gradient(linear, left top, right top, from(#00cbd6), to(#0098d6));
    background-image: linear-gradient(#f2f5fa, #f2f5fa), linear-gradient(to right, #00cbd6 0%, #0098d6 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.feature .nav-tabs>li.active>a .feature-img-wrap:hover {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.feature .social-list {
    opacity: 0.8;
}

.feature .social-list .social-grey a {
    border: 1px solid rgba(88, 112, 157, 0.5);
}

.feature .feature-slider-bl {
    padding: 0;
}

.feature .feature-slider {
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: -5.4px 8.4px 29px rgba(36, 171, 179, 0.2);
    box-shadow: -5.4px 8.4px 29px rgba(36, 171, 179, 0.2);
    right: -40px;
    top: -40px;
}

.feature .feature-slider .feature-slider-img {
    height: 420px;
    background-size: cover;
    background-position: center center;
}

.feature .ia-icon,
.feature .light .ia-icon {
    text-align: center;
    color: #fff;
    border: solid 1px #fff;
    font-size: 50px;
    display: inline-block;
    transition: all .2s;
    width: 100px;
    height: 100px;
    line-height: 95px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-style: double;
    border-width: 4px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.feature .ia-icon .fa {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}



/* ==========================================================================
   05. Explain Section
   ========================================================================== */

.explain .container {
    width: 1350px;
}

.explain .nav-tabs {
    border-bottom: none;
}

.explain .nav-tabs.list-inline {
    margin-left: auto;
}

.explain .nav-tabs>li {
    margin-bottom: 10px;
    padding: 0;
    float: none;
    display: inline-block;
    vertical-align: top;
}

.explain .nav-tabs>li>a {
    margin: 0 5px;
    padding: 10px 30px;
}

.explain .nav-tabs>li>a,
.explain .nav-tabs>li>a:hover,
.explain .nav-tabs>li>a:focus {
    color: #fff;
    background-color: #e71a5e;
    border: none;
    border-radius: 20px;
    border: 1px solid #e1e8f0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.explain .nav-tabs>li>a:hover,
.explain .nav-tabs>li>a:hover:hover,
.explain .nav-tabs>li>a:focus:hover {
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#0098d6));
    background-image: linear-gradient(to right, #fff 0%, #fff 100%);
    color: #313c4f;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.explain .nav-tabs>li.active>a,
.explain .nav-tabs>li>a,
.explain .nav-tabs>li>a:hover,
.explain .nav-tabs>li>a:focus {
    color: #fff;
    background-color: #e71a5e;
    border: none;
    border-radius: 20px;
    border: 0px solid #e1e8f0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.explain .nav-tabs>li.active>a,
.explain .nav-tabs>li.active>a:hover,
.explain .nav-tabs>li.active>a:focus {
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#00cbd6));
    background-image: linear-gradient(to right, #e71a5e 0%, #e71a5e 100%);
    color: #fff;
    border: 1px solid transparent;
}

.explain .tab-content {
    z-index: 2;
    bottom: 0px;
    margin-top: 60px;
}


/* ==========================================================================
   06. Screenshots Section
   ========================================================================== */

.screenshots {
    background-image: url(../images/feature-bg.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: auto 120%;
}

.screenshots:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1e283c;
    opacity: 0.9;
}

.gallery-wrap {
    position: relative;
}

.phone-wrap-fix {
    position: absolute;
    max-width: 326px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -49px;
    z-index: 999;
    pointer-events: none;
}

.phone-img {
    max-width: 100%;
}

.screen-carousel-1 {
    margin: 100px 0 40px;
    cursor: -webkit-grab;
}

.screen-set {
    width: 293.5px;
    height: 500px;
    margin: 50px 0;
    -webkit-box-shadow: 0px 0px 22px 3px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 22px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 22px 3px rgba(0, 0, 0, 0.9);
}

.dark-theme .screen-set {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.screen-set img {
    width: 100%;
    height: 100%;
}


/* ==========================================================================
   07. Price section
   ========================================================================== */

.price-center {
    margin-top: -30px;
}

.price-holder {
    margin-bottom: 50px;
}

.price-title {
    opacity: 0.1;
}

.price-wrapper ul {
    list-style: none;
}

.price-wrapper .price-list {
    border-bottom: 1px solid #eaf0f8;
    padding: 20px 0;
}

.price-wrapper .price-list:first-child {
    border-top: 1px solid #eaf0f8;
}

.price-wrapper .price-same-st .price-list {
    border-bottom: 1px solid #00B2D6;
    padding: 20px 0;
}

.price-wrapper .price-same-st .price-list:first-child {
    border-top: 1px solid #00B2D6;
}

.price-wrapper .price-btn {
    width: 220px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -30px;
}

.price-wrapper .price-center .border-gradient:hover {
    color: inherit;
}



/* ==========================================================================
   08. Testimonials section
   ========================================================================== */

.testimonial-bg {
    background: url(../images/icons/testimonial-icon.png) no-repeat;
    box-shadow: 0px 10px 70px 0px rgba(0, 0, 0, 0.26);
    padding: 40px 20px 20px;
}

.testimonials-slider {
    overflow: hidden;
}

.testimonials-slider.slick-dotted.slick-slider {
    margin: 0;
}

.testimonials-slider .testimonial-img {
    background-repeat: no-repeat;
    background-position: center center;
    height: 615px;
    padding: 0;
    position: relative;
}

.testimonials-slider .testimonial-img:after {
    content: '';
    position: absolute;
    top: -5px;
    right: -25px;
    display: block;
    width: 50px;
    height: 103%;
    background: #f2f5fa;
    opacity: 1;
    -webkit-filter: blur(7px);
    filter: blur(7px);
}

.testimonials-slider .author-signature {
    display: inline-block !important;
}

.testimonials-slider .slick-dots {
    bottom: 100px;
    left: 52%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
    width: auto;
}

.testimonials-slider .slick-dots li {
    width: auto;
    height: auto;
    margin: 0 10px;
}

.testimonials-slider .slick-dots li:first-child {
    margin-left: 0;
}

.testimonials-slider .slick-dots li:last-child {
    margin-right: 0;
}

.testimonials-slider .slick-dots li.slick-active button:before {
    opacity: 1;
}

.testimonials-slider .slick-dots li button {
    width: auto;
    height: auto;
    padding: 0;
}

.testimonials-slider .slick-dots li button:before {
    content: '';
    width: 6px;
    height: 6px;
    opacity: 0.3;
    background-color: #58709d;
    border-radius: 50%;
}



/* ==========================================================================
   09. Blog section
   ========================================================================== */

/*.five-star-app-blog .container {
    padding-top: 60px;
    background: #fff;
    margin-top: -100px;
}
*/
.single-blog-item {
    margin: 0 auto 20px;
    max-width: 360px;
    text-align: center;
}

.blog-photo {
    position: relative;
    overflow: hidden;
}

.blog-post-date {
    top: 0;
    left: 0;
}

.blog-post-date,
.blog-dtls-link {
    position: absolute;
    z-index: 9;
}

.blog-dtls-link {
    bottom: -1px;
    right: -1px;
}

.blog-dtls-link a {
    color: #00cad6;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #fff;
    padding: 0 24px;
    font-weight: bold;
}

.blog-dtls-link a:hover {
    background: #eee;
}

.blog-dtls-link a img {
    margin-left: 4px;
}

.blog-post-date h3,
.blog-dtls-link a {
    line-height: 37px;
    display: inline-block;
    margin: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


/* ==========================================================================
   10. Footer style
   ========================================================================== */

.footer-st-25 {
    background-size: cover;
    background-attachment: fixed;
}

.download-btns img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.download-btns img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.download-btns a {
    display: inline-block;
    margin: 0px 15px 15px;
    border-radius: 4px;
    transition: all 0.4s;
}

.section-subscribe {
    padding-bottom: 41px;
}

.download-content-inner p, .subscribe-content-inner p{
    max-width: 600px;
    margin: 0 auto;
}

.subscribe-form-inner .form-inline {
    margin-top: 10px;
}

.section-subscribe-st .form-group {
    position: relative;
}

.section-subscribe-st .form-control {
    width: 570px !important;
    padding: 0 140px 0 20px;
    background-color: transparent;
    border-color: #fff;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}

.subscribe-form-inner .form-control {
    width: 400px;
    height: 50px;
    margin-right: 6px;
}

.section-subscribe-st .btn {
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: none;
    border-radius: 0px 10px 10px 0px;
    background-color: #fff;
    width: 150px;
    height: 50px;
}

.subscribe-form-inner label{
    color: #fff;
    padding-top: 15px;
}

.btn-24 {
    background-color: #82b441;
    color: #fff;
    line-height: 56px;
    padding: 0 40px;
    font-size: 13px;
    -webkit-box-shadow: 4px 5px rgba(0, 0, 0, .1);
    -moz-box-shadow: 4px 5px rgba(0, 0, 0, .1);
    box-shadow: 4px 5px rgba(0, 0, 0, .1);
}

.form-control::-webkit-input-placeholder {
    color: white;
}

.form-control:-moz-placeholder {
    color: white;
}

.form-control::-moz-placeholder {
    color: white;
}

.form-control:-ms-input-placeholder {
    color: white;
}

#contact_results {
    clear: both;
    text-align: center;
    padding-top: 20px;
}

.footer-st-25 .social-icon li,
.footer-st-25 .social-icon li a {
    width: 54px;
    height: 54px;
}

.social-icon li {
    display: inline-block;
    width: 37px;
    height: 37px;
}

.footer-st-25 .social-icon li,
.footer-st-25 .social-icon li a {
    width: 54px;
    height: 54px;
}

.social-rounded li a {
    width: 37px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    border-radius: 50%;
}

.social-icon li a {
    float: left;
}

.footer-st-25 .social-icon li .fa {
    font-size: 24px;
    line-height: 54px;
    color: #fff;
}

.footer-st-25 .copyright p,
.footer-st-25 .copyright p a {
    font-size: 16px;
    color: #fff;
}

.footer-st-25 .copyright p a {
    font-size: 16px;
    color: #fff;
}


/* ==========================================================================
   11. Contact Pop-up style 
   ========================================================================== */

.contact-section {
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 71, 134, 0.7)), url(../images/contact-bg.jpg) 50% 0 repeat fixed;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 71, 134, 0.7)), url(../images/contact-bg.jpg) 50% 0 repeat fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.submit-btn-bottom-text {
    color: #ddd;
    font-size: 14px;
    padding: 0 10px;
    margin-top: -33px;
}

.semitrans h2 {
    color: #fff !important;
    font-size: 30px;
    margin-top: 0;
    font-weight: bold !important;
}

.semitrans.section-signup .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    background-image: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 12px !important;
}

.semitrans.section-signup .has-icon-left:before {
    background-color: #ffffff;
    color: #ffffff;
}

.semitrans.section-signup .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.semitrans.section-signup .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 1) !important;
}

.semitrans.section-signup .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1) !important;
}

.contact-btn {
    width: 220px;
}

.section-signup .label {
    padding: .35em .85em;
    margin-bottom: 8px;
    margin-bottom: 8px;
    margin-bottom: .5rem;
    font-size: 13px;
    font-size: 13px;
    font-size: .8125rem;
    font-weight: 600;
    line-height: 1.1538;
    border-radius: 2.5rem
}

.section-signup .label span {
    margin-right: 2.4px;
    margin-right: 2.4px;
    margin-right: .15rem;
    font-size: 16px;
    vertical-align: text-top
}

.section-signup .label-default {
    padding-right: 0;
    padding-left: 0;
    margin-right: 8px;
    margin-right: 8px;
    margin-right: .5rem;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent
}

.section-signup .form-group {
    margin-bottom: 30px;
    margin-bottom: 30px;
    margin-bottom: 1.875rem width: 100%;
    text-align: center;
}

.section-signup .has-icon-left {
    position: relative
}

.section-signup .has-icon-left:before {
    position: absolute;
    top: 14px;
    left: 48px;
    width: 1px;
    height: 29px;
    height: 29px;
    height: 1.8125rem;
    content: '';
    background-color: #ededef
}

.section-signup .has-icon-left:after {
    position: absolute;
    top: 11px;
    left: 16px;
    z-index: 1;
    width: 30px;
    height: 30px;
    content: '';
    background-repeat: no-repeat;
    background-position: 5% center
}

.section-signup .has-icon-left .form-control {
    padding-left: 60px
}

.section-signup .form-control-name:after {
    background-image: url(../images/icons/name.png);
}

.section-signup .form-control-email:after {
    background-image: url(../images/icons/email.png);
}

.section-signup .form-control-phone:after {
    background-image: url(../images/icons/phone.png);
}

.section-signup .form-control-address:after {
    background-image: url(../images/icons/address.png);
}

.section-signup .form-control-message:after {
    background-image: url(../images/icons/message.png);
}

.section-signup .home-textarea {
    height: 200px !important;
    padding-top: 10px !important;
}

.section-signup .form-control-lg {
    font-size: 16px;
    font-size: 16px;
    font-size: 1rem;
}

.section-signup .form-control {
    border-width: 1px;
}

.section-signup .form-control-lg {
    border-radius: 0.3rem;
    font-size: 20px;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    padding: 12px 20px;
    padding: 12px 20px;
    padding: 0.75rem 1.25rem;
}

.section-signup .form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #e0e0e5;
    border-radius: 0;
    color: #424753;
    display: block;
    font-size: 13px !important;
    line-height: 2;
    height: 50px;
    padding: 6.16px 12px;
    padding: 6.16px 12px;
    padding: 0.385rem 0.75rem;
    box-shadow: none !important;
    width: 100%;
}

.section-signup .btn {
    margin-top: 0.3px;
    width: 200px;
    height: 50px;
    line-height: 50px !important;
    ;
    padding: 0 20px;
    margin-bottom: 20px;
}

.section-signup .form-control:focus {
    box-shadow: 0 0 4px rgba(135, 121, 189, 0.53)
}

.section-signup .form-control:focus+span {
    color: #6c59b4
}

.section-signup .form-control-lg {
    font-size: 16px;
    font-size: 16px;
    font-size: 1rem
}

.section-signup .btn-block {
    padding-right: 0;
    padding-left: 0
}


/* ==========================================================================
   12. Elements 
   ========================================================================== */

.btn {
    display: inline-block;
    vertical-align: top;
    height: 60px;
    text-transform: uppercase;
    border-radius: 30px;
    outline: none;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.btn.white {
    color: #fff;
    border: 1px solid #fff;
}

.btn.white .slider_btn {
    color: #fff;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.btn.white:hover {
    color: #00c9d5;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.btn.white:hover .slider_btn {
    color: #00c9d5;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.btn.theme-bg-gradient {
    background-image: -webkit-gradient(linear, left top, right top, from(#), to(#00cbd6));
    background-image: linear-gradient(to right, #0098d6 0%, #00cbd6 100%);
    -webkit-box-shadow: 0 5px 29px rgba(0, 205, 214, 0.3);
    box-shadow: 0 5px 29px rgba(0, 205, 214, 0.3);
    color: #fff;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.btn.theme-bg-gradient .slider_btn {
    color: #fff;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.btn.theme-bg-gradient:hover {
    color: #1e283c;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.btn.theme-bg-gradient:hover .slider_btn {
    color: #1e283c;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.btn.border-gradient {
    border: 1px solid transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5fa), to(#f2f5fa)), -webkit-gradient(linear, left top, right top, from(#0098d6), to(#00cbd6));
    background-image: linear-gradient(#f2f5fa, #f2f5fa), linear-gradient(to right, #0098d6 0%, #00cbd6 100%);

    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 0;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.btn.border-gradient:hover {
    color: #1e283c;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.btn.border-gradient.light {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, right top, from(#0098d6), to(#00cbd6));
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #0098d6 0%, #00cbd6 100%);
}

.border-gradient {
    border: 1px solid transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, right top, from(#0098d6), to(#00cbd6));
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #0098d6 0%, #00cbd6 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 6px;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.border-gradient:hover {
    color: #1e283c;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.partition_left:before {
    content: '';
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0;
    background: #00cad6;
}

.subtitle {
    font-size: 12px;
    text-transform: uppercase;
}

.title {
    font-size: 0;
}

.main-title {
    position: relative;
}

.title span {
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
}

.spliter {
    display: inline-block;
    height: 3px;
    width: 73px;
    clear: both;
    background: #00cad6;
}

#toTop {
    width: 50px;
    height: 50px;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    border-radius: 50%;
    font-size: 34px;
    z-index: 9999;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#toTop:hover {
    color: #c0ce30;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}

.arrow-btn .slick-arrow {
    width: 40px;
    height: 80px;
    z-index: 10;
}

.arrow-btn .slick-next {
    right: 0;
}

.arrow-btn .slick-prev {
    left: 0;
}

.arrow-btn .slick-next:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: url("../images/icons/arrow-next.png");
}

.arrow-btn .slick-prev:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: url("../images/icons/arrow-prev.png");
}


/* ==========================================================================
   13. Preloder 
   ========================================================================== */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 3000;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/icons/status.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}
